body {
    font-family: Arial, sans-serif;
    background-image: url('translucent-image.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .registration-container {
    background-color: #b2ebf2; 
    padding: 40px;
    border-radius: 10px;
    border-color: #004f5b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
  }
  
  h2 {
    color: #00796b; 
    text-align: center;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b2ebf2;
    border-radius: 5px;
    box-sizing: border-box; 
  }
  
  input[type="submit"] {
    background-color: #00796b; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #004f5b; 
  }
  